* {
  border-radius: 0 !important;
}

#editor {
}

#editor textarea {
	resize: none;
	height: 100%;
    width: 100%;
   	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#presenter {
	/*height: 555px;*/
	margin: 10px;
	/* Margin bottom by footer height +10px*/
	/*overflow-x:hidden; overflow-y: scroll;*/
}

math {
	background: yellow;
}

.math {
	background: yellow;
}

.panel-collapse {
	padding: 10px;
}