#editor.col-md-6
  #control-panel
  .form-group
    label(for="text-type") Input type:
    select.form-control#text-type
      option OEIS
  .form-group
    textarea.form-control#input(rows="22")
    span.input-group-addon.btn.btn-primary.btn-group-sm Present
#presenter.col-md-6
  #output