#editor-window.col-md-6
  .panel.panel-default
    .panel-heading
      b Editor
      button.btn.btn-default.btn-xs.pull-right.fl-width(type="button" onclick='fullWidth();')
        span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
      button.btn.btn-default.btn-xs.pull-right(type="button" onclick='hidePanel("#edit-body", $(this));')
        span.glyphicon.glyphicon-chevron-up(aria-hidden="true")
    .panel-collapse.in#edit-body
      #control-panel
      .form-group
        label(for="text-type") Text format:
        select.form-control#text-type
          option(value="oeis") OEIS
      .form-group
        textarea.form-control#input(rows="21")
        span.input-group-addon.btn-default(onclick="controlPanel.getPresentation()") 
          | PRESENT
          span.glyphicon.glyphicon-play(area-hidden="true")
#presenter-window.col-md-6
  .panel.panel-default
    .panel-heading
      b Presenter
      button.btn.btn-default.btn-xs.pull-right.fl-width(type="button" onclick='fullWidth();')
        span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
      button.btn.btn-default.btn-xs.pull-right(type="button" onclick='hidePanel("#present-body", $(this));')
        span.glyphicon.glyphicon-chevron-up(aria-hidden="true")
    .panel-collapse.in#present-body
      #presenter
        #output