#editor-window.col-md-6
  .panel.panel-default
    .panel-heading
      b Editor
      button.btn.btn-default.btn-xs.pull-right.fl-width(type="button" onclick='fullWidth();')
        span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
      button.btn.btn-default.btn-xs.pull-right(type="button" onclick='hidePanel("#edit-body", $(this));')
        span.glyphicon.glyphicon-chevron-up(aria-hidden="true")
    .panel-collapse.in#edit-body
      #control-panel.row
        .col-md-4
          .input-group.input-group-sm
            span.input-group-addon.input-group-addon-sm
              | Text format
            select.form-control#text-type
              option(value="oeis") OEIS
        .col-md-4  
          .input-group.input-group-sm#in-artid
            span.input-group-addon
              | Article ID
            input.form-control#artid(type="text" class="form-control")
            .input-group-btn
              button.btn.btn-default.btn-sm.dropdown-toggle(data-toggle="dropdown" type="button") 
                | Examples
                span.caret
              ul.dropdown-menu
                li
                  a(href="#" onclick="example('A000045')") Fibonacci
                li
                  a(href="#" onclick="example('A001147')") Double factorial of odd numbers
                li
                  a(href="#" onclick="example('A000055')") Number of trees with n unlabeled nodes
              button.btn.btn-default(onclick="controlPanel.loadArticle()") 
                | Load
      br
      .row
        .col-md-12
          .form-group
            textarea.form-control#input(rows="21")
            span.input-group-addon.btn-default(onclick="controlPanel.getPresentation()") 
              | PRESENT
              span.glyphicon.glyphicon-play(area-hidden="true")
#presenter-window.col-md-6
  .panel.panel-default
    .panel-heading
      b Presenter
      button.btn.btn-default.btn-xs.pull-right.fl-width(type="button" onclick='fullWidth();')
        span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
      button.btn.btn-default.btn-xs.pull-right(type="button" onclick='hidePanel("#present-body", $(this));')
        span.glyphicon.glyphicon-chevron-up(aria-hidden="true")
    .panel-collapse.in#present-body
      #presenter
        #output
#error-window.col-md-6
  .panel.panel-default
    .panel-heading
      b Error log
      button.btn.btn-default.btn-xs.pull-right(type="button" onclick='hidePanel("#error-body", $(this));')
        span.glyphicon.glyphicon-chevron-up(aria-hidden="true")
    .panel-collapse.in#error-body
#omdoc-window.col-md-6
  .panel.panel-default
    .panel-heading
      b OMDoc
      button.btn.btn-default.btn-xs.pull-right(type="button" onclick='hidePanel("#omdoc-body", $(this));')
        span.glyphicon.glyphicon-chevron-down(aria-hidden="true")
    .panel-collapse.collapse#omdoc-body